<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Petrol Station Administration</title>
        <link rel="stylesheet" href="adminpetrol.component.css">
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
  <section class="home-section">
    <nav>
        <span class="dashboard">Petrol Station Admin Overview</span>
      <div class="profile-details">
        <span class="admin_name">AdminPetrol</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>
        <div class="home-content">
            <div class="overview-boxes">
              <div class="box">
                <div class="right-side">
                  <div class="box-topic">Fuel Remaining</div>
                  <div class="number">{{pt.tank}}</div>
                  <div class="indicator">
                    <span class="text">litres remaining</span>
                  </div>
                </div>
                <i class='bx bx-droplet cart'></i>
              </div>
              <div class="box">
                <div class="right-side">
                  <div class="box-topic">Current Fuel Usage</div>
                  <div class="number">{{pft.flow}}</div>
                  <div class="indicator">
                    <i class='bx bx-up-arrow-alt'></i>
                    <span class="text">litres being used</span>
                  </div>
                </div>
                <i class='bx bx-car cart2'></i>
              </div>
              <div class="box">
                <div class="right-side">
                  <div class="box-topic">IOT Device Operations</div>
                  <div class="number">Add Functional/Not Func code</div>
                  <div class="indicator">
                    <i class='bx bx-bug-alt'></i>
                    <span class="text">report to admin if not functional</span>
                  </div>
                </div>
                <i class='bx bx-chip cart3' ></i>
              </div>
