<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Petrol Station Administration</title>
        <link rel="stylesheet" href="user.component.css">
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
  <section class="home-section">
    <nav>
        <span class="dashboard">Smart Indicator Fuel Finder</span>
      <div class="profile-details">
        <span class="admin_name">LOGGED IN AS USER</span>
      </div>
    </nav>
    <br>
    <div id="main" class="form">
        Select a Fuel Station Location
        <div class="action" ><button (click)="openNav('sds')">Kaduwela</button></div>
        <div class="action"><button>Malabe</button></div>
        <div class="action"><button>Battaramulla</button></div>
    </div>
    <div *ngIf="showvalue">
    <table>
      <thead>
        <th>Name</th>
        <th>Phonenumber</th>
        <th>Location</th>
      </thead>
      <tbody>
        <ng-container *ngIf="itm">
          <tr *ngFor="let item of itm|async">
            <td>{{item.Name}}</td>
            <td>{{item.phonenumber}}</td>
            <td>{{item.Location}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <table>
      <thead>
        <th>Fuel Level</th>
      </thead>
      <tbody>
        <ng-container *ngIf="pt">
          <tr *ngFor="let item of pt|async">
            <td>{{item.tank}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <table>
      <thead>
        <th>Fuel Flow</th>
      </thead>
      <tbody>
        <ng-container *ngIf="pf">
          <tr *ngFor="let item of pf|async">
            <td>{{item.flow}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
