<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Admin Dashboard | SmiFF</title>
    <link rel="stylesheet" href="dashboard.component.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
  <div class="sidebar" [ngClass]="status ? 'darSideBar':'genisSidebar'">
    <div class="logo-details">
      <i class='bx bxs-universal-access xs' ></i>
      <span class="logo_name">SmiFF Admin Panel</span>
    </div>
      <ul class="nav-links">
        <li>
          <a [routerLink]="'overview'" routerLinkActive="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'petrol'" routerLinkActive="active">
            <i class='bx bx-car' ></i>
            <span class="links_name">Petrol stations</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'user'" routerLinkActive="active">
            <i class='bx bx-user' ></i>
            <span class="links_name">Users</span>
          </a>
        </li>
        <li>
          <a>
            <i class='bx bx-message' ></i>
            <span class="links_name">Messages & Feedback</span>
          </a>
        </li>

        <li>
          <a>
            <i class='bx bx-cog' ></i>
            <span class="links_name">Settings</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section" [ngClass]="status ? 'notlefttake':'lefttake'">
    <nav>
      <div class="sidebar-button" (click) ="clickEvent()">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">Admin</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Users</div>
            <div class="number">{{ucount}}</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">are using </span>
            </div>
          </div>
          <i class='bx bx-user cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Petrol stations</div>
            <div class="number">{{pcount}}</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">are registered upto now</span>
            </div>
          </div>
          <i class='bx bx-car cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">IOT faults</div>
            <div class="number">12,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-error cart three' ></i>
        </div>

      </div>
      <router-outlet></router-outlet>


    </div>
  </section>

</html>


